#authorization{
    display: flex;
    justify-content: center;
    margin: 20px auto;
    font-size: xx-large;
}
input[type="text"] , input[type="password"]{
   /* opacity: 0;
    transform: translateY(1rem);*/
    width: 92%;
    height: 50px;
    margin: 20px;
    font-size: x-large;
}
#button{
    text-align: center;

}
input[type="submit"]{
    background: #ff8786;
    width: 50%;
    height: 50px;
    border-radius: 8px;
    font-size: x-large;
}
#reg{
    text-align: center;
}
form{
    background: black;
    border-radius: 9px;
    padding: 15px;
    width: 552px;
}

#titleenter{
    color: #ECE9E0;
    padding-left: 20px;
}
div{
     margin: auto;
 }
#successfulLog{
    width: 970px;
    height: 800px;
    margin: auto;
    background: #f2fff0;
    font-size: xx-large;
    text-align: center;
    border-radius: 15px;
    max-width: 970px;
    position: relative;
}
#game, #gallery{
    width:100px;
    height: 50px;
}
#errors_log, #errors_pass{
    color: red;
    padding-left: 20px;
    font-size: x-large;

}
span{
    color: red;
}
#reg{
    width: 272px;
    height: 44px;
    background: #ff8786;
    border-radius: 8px;
    margin-top: 25px;
}
#regLink {
    text-decoration: none;
    color: black;
    display: block;
    width: 276px;
    height: 50px;
}
#gratTitle{
    font-size: 50px;
}
#point{
    width: 272px;
    height: 44px;
    background: #ff8786;
    border-radius: 8px;
    margin-top: 25px;
}
#link{
    text-decoration: none;
    color: black;
    display: block;
    width: 276px;
    height: 50px;
}
#mainText{
    width: 500px;
}